<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-button color="primary" href="calender"> Calender </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" href="resource"> Resource </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
